/* line 1, admin-style.scss */
#wpfooter {
  margin-right: 140px; }

/* line 5, admin-style.scss */
input {
  height: 28px;
  text-align: center;
  border-radius: 3px;
  font-size: 14px; }

/* line 12, admin-style.scss */
input[type="number"] {
  width: 50px; }

/* line 16, admin-style.scss */
input[type="time"] {
  width: 10em;
  border: 1px solid #DDD;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.07) inset;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.07) inset;
  background-color: #FFF;
  color: #333;
  -webkit-transition: border-color 0.05s ease-in-out 0s;
  transition: border-color 0.05s ease-in-out 0s; }
  /* line 23, admin-style.scss */
  input[type="time"]:focus {
    border-color: #5B9DD9;
    -webkit-box-shadow: 0px 0px 2px rgba(30, 140, 190, 0.8);
    box-shadow: 0px 0px 2px rgba(30, 140, 190, 0.8); }

/* line 29, admin-style.scss */
select {
  width: 100%; }

/* line 33, admin-style.scss */
td {
  text-align: center;
  /* center checkbox horizontally */
  vertical-align: middle;
  /* center checkbox vertically */ }

/*# sourceMappingURL=admin-style.css.map */