#wpfooter{
	margin-right: 140px;
}

input {
	height: 28px;
	text-align: center;
	border-radius: 3px;
	font-size: 14px;
}

input[type="number"] {
	width: 50px;
}

input[type="time"] {
	width: 10em;
	border: 1px solid #DDD;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.07) inset;
	background-color: #FFF;
	color: #333;
	transition: border-color 0.05s ease-in-out 0s;
	&:focus {
		border-color: #5B9DD9;
		box-shadow: 0px 0px 2px rgba(30, 140, 190, 0.8);
	}
}

select {
	width: 100%;
}

td {
	text-align: center; /* center checkbox horizontally */
	vertical-align: middle; /* center checkbox vertically */
}
